[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hidapi = "*"
pycryptodome = "*"
pylsl = "*"
mne = "*"
numpy = "*"

[dev-packages]
pyshark = "*"
mne = "*"
numpy = "*"

[requires]
python_version = "*"
